<body>
<div class="container">
  <div class="row">
    <div class="banner">
      <h1 class="header">{{person.firstName}} {{person.lastName}}</h1>
      <app-age-badge [birthDate]="person.dateOfBirth" [age]="person.getAge()"/>
      <app-location-badge [person]="person"/>
<!--      <github-badge/>-->
<!--      <linkedIn-badge/>-->
    </div>

    <div id="About Me">
      <h2>About Me</h2>
      <p [innerHTML]="person.aboutMe"></p>
    </div>

    <div>
      <h2>Skills</h2>
      <ul>
        <li *ngFor="let skill of person.skills">{{skill.toString()}}</li>
      </ul>
    </div>
  </div>

  <div>
    <h2>Timeline</h2>
    <div *ngFor="let event of person.getTimeline()">
      <h3>{{event.title}}</h3>
      <p>{{event.getStartDate()}}</p>
      <p [innerHTML]="event.description"></p>
    </div>
  </div>
  <app-contact-form/>
</div>
</body>

