/* toggle-switch.component.css */
.toggle-switch {
  width: 80px;
  height: 40px;
  background: #ccc;
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px;
}

.switch-background {
  width: 50%;
  height: 100%;
  background: transparent;
  border-radius: 50%;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-background.toggled {
  transform: translateX(100%);
}
