<!-- Toolbar -->
<div *ngIf="!production">
<div class="topnav" role="banner">
  <title>Portfolio - Wout Deleu (under construction)</title>
  <img
    alt="Wout Deleu" src="./assets/images/Profile/professional.png" *ngIf="false"/>
  <app-toggle-switch [isToggled]="terminalView" (toggleView)="terminalView=$event"/>
  <app-navigation-bar *ngIf="!terminalView"/>
</div>
<main class="">
  <div>
    <app-over-view *ngIf="!terminalView"/>
    <app-terminal-view *ngIf="terminalView"/>
  </div>

</main>
</div>
<div *ngIf="production">
      <app-under-construction/>
</div>
