// Terminal style
$neon-green: #00ff00;
$black: #000000;
$dark-gray: #222222;
$light-gray: #333333;
$white: #555555;
$blue: #0000ff;
$red: #ff0000;
$orange: #ff8800;
$yellow: #ffff00;
$green: #00ff00;
$purple: #ff00ff;

// Dark Colors (Dracula-stijl)
$background-dark: #282a36;
$foreground-dark: #f8f8f2;
$selection-dark: #44475a;
$comment-dark: #6272a4;
$red-dark: #ff5555;
$orange-dark: #ffb86c;
$yellow-dark: #f1fa8c;
$green-dark: #50fa7b;
$cyan-dark: #8be9fd;
$blue-dark: #bd93f9;
$purple-dark: #ff79c6;
$pink-dark: #ff6e67;

// Light Colors
$background-light: #f8f8f2;
$foreground-light: #282a36;
$selection-light: #bd93f9;
$comment-light: #6272a4;
$red-light: #ff5555;
$orange-light: #ffb86c;
$yellow-light: #f1fa8c;
$green-light: #50fa7b;
$cyan-light: #8be9fd;
$blue-light: #bd93f9;
$purple-light: #ff79c6;
$pink-light: #ff6e67;
